[submodule "modules/mysql"]
	path = modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "modules/nodejs"]
	path = modules/nodejs
	url = https://github.com/willdurand/puppet-nodejs.git
[submodule "modules/wget"]
	path = modules/wget
	url = https://github.com/maestrodev/puppet-wget.git
[submodule "modules/ohmyzsh"]
	path = modules/ohmyzsh
	url = https://github.com/acme/puppet-acme-oh-my-zsh.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/rbenv"]
	path = modules/rbenv
	url = https://github.com/alup/puppet-rbenv.git
